@using Medulla.Frontend.Client.Library.Utilities.Unique
@inherits BaseComponent

<div class="menu-container">
    <div>
        <h1>Logo</h1>
    </div>
    <div>
        <ul class="menu">
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
            <li class="menu-item">Menu</li>
        </ul>
    </div>
</div>


@code {

    [Parameter]
    public string Title { get; set; } = "{No Title}";
    
    protected override Properties GetProperties()
    {
        Properties properties = new();
        properties.PropertyList.Add(new() 
        { 
            Name = "Title", 
            InputDescription = "Title", 
            DefaultValue = new Dictionary<string, object>()
            {
                {
                    "Placeholder", "Title"
                },
                { "PropertyName", "Title" }
            }, InputType = "Medulla.Frontend.Client.Components.Editor.PropertiesWindow.PropertyComponents.TextInput" }
            );
        return properties;
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return true;
    }

    protected override bool IsHoverComponentContainer()
    {
        return false;
    }

    protected override void AfterAddComponent(Editor editor, UniqueId uniqueId)
    {
        
    }

}


<style>
.menu-container {
    display:  flex;
    background: lightgray;
}

.menu {
    list-style-type: none;
    display:  flex;
    border:  none;
    background: lightgray;
}

.menu-item {
    padding: 1em;
    background: lightgray;
    border: none;
    cursor: pointer;
}
</style>

