<Entity @ref="Entity" SettingsTitle="Database Settings" AddToScene="@AddToScene" Diagram="@Diagram" Name="Database" InTray="@InTray" Image="https://icones.pro/wp-content/uploads/2021/05/icone-base-donnees-jaune.png">
    <SettingsForm>
        <form>
            <Input WhenChanged="@QuickLoadingOnEntity" Label="Name" />
            <Comment>Changes are automatically saved.</Comment>
        </form>
    </SettingsForm>
   <NodePorts>
       @if (Node.HasPrimaryColumn)
        {
            <PortRenderer Port="Node.GetPort(PortAlignment.Right)"></PortRenderer>
        }
   </NodePorts>
    <Preview>
        @Preview
    </Preview>
</Entity>
