body {
  
  .properties-window {
    padding: 2em;
    background: lightgray;
    
    .header {
      
      background: #0c2d6b;
      
      .title {
        
      }
      
    }
    
    .main {
      
    }
  }
  
}


