@using DatabaseDesigner.Wasm.Components.Database;
@using DatabaseDesigner.Wasm.Components.Database.TableNode;
@using DatabaseDesigner.Wasm.Components.Database.TableNode.TableColumnNode;

<div class="Box sidebar">
    <div>
        <DatabaseNode InTray="@true" />
    </div>
    <div>
        <TableNode InTray="@true"  />
    </div>
    <div>
        <TableColumnNode InTray="@true"  />
    </div>
</div>
