body .properties-window {
  padding: 2em;
  background: lightgray;
  display: flex;
  flex-direction: column;
}
body .properties-window .header {
  background: var(--color-bg-primary);
  display: block;
  border: solid thin black;
}
body .properties-window .header {
  --color-text-link: #bc8cff;
  --color-icon-info: #bc8cff;
  --color-border-info: rgba(163,113,247,0.4);
  --color-bg-canvas: #0d1017;
  --color-bg-canvas-mobile: #010409;
  --color-bg-canvas-inverse: #f0f6fc;
  --color-bg-canvas-inset: hsla(222,28%,5%,1);
  --color-bg-primary: #0d1017;
  --color-bg-secondary: #0d1017;
  --color-bg-tertiary: #161a21;
  --color-bg-overlay: rgba(28,32,40,1);
  --color-bg-backdrop: rgba(1,4,9,0.8);
  --color-bg-info: rgba(163,113,247,0.1);
  --color-bg-info-inverse: #a371f7;
  --color-state-hover-primary-bg: #8957e5;
  --color-state-hover-primary-border: #a371f7;
  --color-state-selected-primary-bg: #8957e5;
  --color-state-focus-border: #a371f7;
  --color-state-focus-shadow: 0 0 0 3px #3c1e70;
  --color-alert-info-text: #d2a8ff;
  --color-alert-info-icon: #d2a8ff;
  --color-alert-info-bg: rgba(163,113,247,0.1);
  --color-alert-info-border: rgba(163,113,247,0.4);
  --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(137,87,229,0.3);
  --color-btn-primary-bg: #8957e5;
  --color-btn-primary-border: #a371f7;
  --color-btn-primary-hover-bg: #a371f7;
  --color-btn-primary-hover-border: #bc8cff;
  --color-btn-primary-selected-bg: #8957e5;
  --color-btn-primary-disabled-bg: rgba(137,87,229,0.6);
  --color-btn-primary-focus-bg: #8957e5;
  --color-btn-primary-focus-border: #bc8cff;
  --color-btn-primary-focus-shadow: 0 0 0 3px rgba(111,87,255,0.4);
  --color-btn-outline-text: #bc8cff;
  --color-btn-outline-hover-text: #bc8cff;
  --color-btn-outline-hover-border: #bc8cff;
  --color-btn-outline-selected-bg: #553098;
  --color-btn-outline-disabled-text: rgba(188,140,255,0.5);
  --color-btn-outline-disabled-counter-bg: rgba(137,87,229,0.05);
  --color-btn-outline-focus-border: #bc8cff;
  --color-btn-outline-focus-shadow: 0 0 0 3px rgba(110,64,201,0.4);
  --color-btn-outline-counter-bg: rgba(137,87,229,0.1);
  --color-label-info-text: #a371f7;
  --color-label-info-border: rgba(163,113,247,0.4);
  --color-toast-icon-bg: #8957e5;
  --color-toast-icon-border: #a371f7;
  --color-timeline-target-badge-border: #8957e5;
  --color-timeline-target-badge-shadow: #553098;
  --color-select-menu-tap-focus-bg: #3c1e70;
  --color-box-blue-border: #553098;
  --color-box-row-blue-bg: rgba(210,168,255,0.1);
  --color-box-border-info: rgba(163,113,247,0.4);
  --color-box-bg-info: rgba(163,113,247,0.1);
  --color-branch-name-bg: rgba(188,140,255,0.1);
  --color-branch-name-link-text: #bc8cff;
  --color-branch-name-link-icon: #bc8cff;
  --color-branch-name-link-bg: rgba(188,140,255,0.1);
  --color-menu-border-active: #8957e5;
  --color-sidenav-border-active: #8957e5;
  --color-upload-enabled-border-focused: hsla(261,73%,70%,1);
  --color-underlinenav-border-active: #8957e5;
  --color-mktg-info: rgba(148,98,237,1);
  --color-mktg-btn-primary-bg-top: hsla(249,100%,72%,1);
  --color-mktg-btn-primary-bg-bottom: #6f57ff;
  --color-mktg-btn-primary-bg-overlay-top: hsla(248,65%,63%,1);
  --color-mktg-btn-primary-bg-overlay-bottom: #614eda;
  --color-mktg-btn-enterprise-bg-top: hsla(137,56%,46%,1);
  --color-mktg-btn-enterprise-bg-bottom: #2ea44f;
  --color-mktg-btn-enterprise-bg-overlay-top: hsla(134,60%,38%,1);
  --color-mktg-btn-enterprise-bg-overlay-bottom: #22863a;
}
body .properties-window .header .title {
  font-weight: bold;
  color: black;
  font-size: 0.9em;
}
body .properties-window .main li {
  border: thin solid black;
  background: white;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}
body .properties-window .main li input {
  padding-left: 1em;
}

/*# sourceMappingURL=app.css.map */
