@page "/"
<PageTitle>Medulla Editor</PageTitle>

<p>
    Dashboard
</p>

<div>
    <div>
        <a href="/apps/app/pages/page/edit">Edit Page</a>
    </div>
    <div>
        <a href="/apps/app/pages/page">View Page</a>
    </div>
    <div>
        <a href="/apps/app/pages">List All Pages</a>
    </div>
    <div>
        <a href="/apps/app/">Details of App</a>
    </div>
    <div>
        <a href="/apps">List all Apps for Logged In User</a>
    </div>
</div>
