@inherits BaseComponentContainer

<div>
    Column
</div>


@code {

    protected override void AfterAddComponent(Medulla.Frontend.Client.Components.Editor.Editor editor, Medulla.Frontend.Client.Library.Utilities.Unique.UniqueId uniqueId)
    {

        return;
    }

    protected override List<EditorViewNode> GetChildrenToAddOnAdd()
    {
        var list = new List<EditorViewNode>();
        list.Add(new EditorViewNode() {
            Type = "",
            UniqueId = new Medulla.Frontend.Client.Library.Utilities.Unique.UniqueId(),
            IsContainer = true
        });
        return list;
    }

    protected override Properties GetProperties()
    {
        return new Properties();
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return false;
    }

    protected override bool IsHoverComponentContainer()
    {
        return true;
    }

}