<div 
    @ondrop="HandleDrop" 
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    >
    
    
</div>

@code {

    public void HandleDrop()
    {
        
    }

    public void HandleDragEnter()
    {
        
    }

    public void HandleDragLeave()
    {
        
    }
    
}