<div 
    @ondrop="HandleDrop"
    ondragover="event.preventDefault();"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    class="@_dropClass width-full"
    style="height:200px;background: red"
    >
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public EditorStructure EditorStructure { get; set; } = default!;
    
    string _dropClass = "";

    public void HandleDrop()
    {
        Console.WriteLine("Test");
        Console.WriteLine(EditorStructure);
        Console.WriteLine(typeof(EditorStructure));
        
        EditorStructure.EditorViewNode.Children.Add(new EditorViewNode()
        {
            RenderComponentType = "Medulla.Frontend.Client.Components.RegisteredComponents.Buttons.Button",
            Parameters = new Dictionary<string, object>()
            {
                { "Content", "Click Me!" },
            }
        });
    }

    public void HandleDragEnter()
    {
        _dropClass = "border border-dashed";
    }

    public void HandleDragLeave()
    {
        _dropClass = "";
    }
    
}