@using System.ComponentModel.DataAnnotations
<div
    @ondrop="HandleDrop"
    ondragover="event.preventDefault();"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    class="@_dropClass width-full" style="min-height: 100px">
    @ChildContent
    @if (isHovering)
    {
        <span style="border:thick solid purple">
            <DynamicComponent Type="@Type.GetType(Editor.CurrentComponent.Type)" />
        </span>
    }
</div>

@code {

    private bool isHovering = false;
    
    [Parameter]
    [Required]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    [Required]
    public EditorViewNode EditorViewNode { get; set; } = default!;

    [Parameter]
    [Required]
    public Editor Editor { get; set; } = default!;
    
    string _dropClass = "";

    public void HandleDrop()
    {
        isHovering = false;
        Console.WriteLine("handling drop");
        EditorViewNode.Children.Add(Editor.CurrentComponent);
        Editor.StateChanged();
    }

    public void HandleDragEnter()
    {
        isHovering = true;
        _dropClass = "border border-dashed";
    }

    public void HandleDragLeave()
    {
        isHovering = false;
        _dropClass = "";
    }
    
}