@using System.ComponentModel.DataAnnotations
<div 
    @ondrop="HandleDrop"
    ondragover="event.preventDefault();"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    class="@_dropClass width-full"
    style="height:200px;"
    >
    @ChildContent
</div>

@code {

    [Parameter]
    [Required]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    [Required]
    public EditorViewNode EditorViewNode { get; set; } = default!;

    [Parameter]
    [Required]
    public Editor Editor { get; set; } = default!;
    
    string _dropClass = "";

    public void HandleDrop()
    {
        EditorViewNode.Children.Add(Editor.CurrentComponent);
    }

    public void HandleDragEnter()
    {
        _dropClass = "border border-dashed";
    }

    public void HandleDragLeave()
    {
        _dropClass = "";
    }
    
}