@using System.ComponentModel.DataAnnotations
@using Medulla.Frontend.Client.Library.Utilities.Unique
<div
    @ondrop="HandleDrop"
    ondragover="event.preventDefault();"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave"
    class="@_dropClass width-full" style="min-height: 100px">
    @ChildContent
</div>

@code {

    private bool isHovering = false;
    
    [Parameter]
    [Required]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    [Required]
    public EditorViewNode EditorViewNode { get; set; } = default!;

    [Parameter]
    [Required]
    public Editor Editor { get; set; } = default!;
    
    [Parameter]
    public UniqueId UniqueId { get; set; }

    
    string _dropClass = "";

    public void HandleDrop()
    {
        if (Editor.PlaceAfterComponentWithUniqueId != null && !Editor.PlaceAfterComponentWithUniqueId.Equals(this.UniqueId))
        {
            return;
        }
        // Properties properties = baseComponent.GetProperties();
        isHovering = false;
        Console.WriteLine("handling drop");
        if (Editor.RemoveComponentOnHoverLeaveWithUniqueId != null && 
            Editor.CurrentComponent.UniqueId.Equals(Editor.RemoveComponentOnHoverLeaveWithUniqueId))
        {
            Editor.RemoveComponentWithUniqueId(Editor.EditorViewNode, Editor.RemoveComponentOnHoverLeaveWithUniqueId);    
        }
        // EditorViewNode.Children.Add(Editor.CurrentComponent);
        
        Editor.AddComponentToEditorViewNode(Editor.EditorViewNode);
        BaseComponent baseComponent = (BaseComponent)Activator.CreateInstance(Type.GetType(Editor.CurrentComponent.Type));
        baseComponent.UpdatePropertiesWindow(Editor, Editor.CurrentComponent.UniqueId);
        Editor.StateChanged();
    }

    public void HandleDragEnter()
    {
        Console.WriteLine("enter one column grid");
        isHovering = true;
        _dropClass = "border border-dashed";
    }

    public void HandleDragLeave()
    {
        Console.WriteLine("leave one column grid");
        isHovering = false;
        _dropClass = "";
    }
    
}