@using System.ComponentModel.DataAnnotations
@using Medulla.Frontend.Client.Library.Utilities.Unique
@inherits BaseComponentContainer

<div
    style="cursor: no-drop;min-height: 100px;padding-top:2.3em;">
    <div class="@_dropClass width-full">
        @ChildContent    
    </div>
    <svg
        @ondrop="HandleDrop"
        ondragover="event.preventDefault();"
        style="
        margin: 1em;
    height: 100px;
    border: thin solid;
    cursor: copy;
" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 editor-place" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
    </svg>

</div>

@code {

    private bool isHovering = false;
    string _dropClass = "";

    protected override Properties GetProperties()
    {
        return new Properties();
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return false;
    }

    protected override bool IsHoverComponentContainer()
    {
        return true;
    }

}