@using System.ComponentModel.DataAnnotations
@using Medulla.Frontend.Client.Library.Utilities.Unique
@inherits BaseComponentContainer

<div class="editor-place" style="display: inline">
    <label> <input @onclick="MakeActive" type="radio" id="potato" name="radio-group-example" /> </label>
</div>
<div
    style="cursor: no-drop;min-height: 100px;padding-top:2.3em;">
    <div class="@_dropClass width-full">
        @ChildContent    
    </div>
</div>

@code {

    private bool isHovering = false;
    string _dropClass = "";

    protected override Properties GetProperties()
    {
        return new Properties();
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return false;
    }

    protected override bool IsHoverComponentContainer()
    {
        return true;
    }

}