version: '3.1'
services:
  db:
    image: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
      MYSQL_DATABASE: medulla
      MYSQL_USER: user
      MYSQL_PASSWORD: test
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080