<div data-color-mode="dark" class="border rounded-0 p-2 mb-2 color-bg-default box card @(Node.Selected ? "selected" : "")" style="width: 115px;height: 115px;">
    <div class="box-header card-header">
        <h4 class="mb-0" style="font-size: 10px;color: gainsboro;">@Node.Name</h4>
    </div>

    <div class="position-relative text-center" style="position: absolute!important;left: 0;right: 0;">
    <img style="margin: 5%;width: 49%;" src="https://icones.pro/wp-content/uploads/2021/05/icone-base-donnees-jaune.png    " />
    </div>

    @if (Node.HasPrimaryColumn)
    {
        <PortRenderer Port="Node.GetPort(PortAlignment.Right)"></PortRenderer>
    }
</div>

@* <div data-color-mode="dark" class="border rounded-0 p-2 mb-2 color-bg-default box card selected" style="width: 115px;height: 115px;" b-9r9pcjmwdf="">
    <div class="box-header card-header" b-9r9pcjmwdf="">
        <h4 class="mb-0" b-9r9pcjmwdf="" style="font-size: 10px;color: gainsboro;">
            Database
        </h4>
    </div>

    <div class="position-relative text-center" b-9r9pcjmwdf="" style="position: absolute!important;left: 0;right: 0;">
        <img style="margin: 5%;width: 49%;" src="https://icones.pro/wp-content/uploads/2021/05/icone-base-donnees-jaune.png    " b-9r9pcjmwdf="">
    </div>
    <div class="port right  " data-port-id="5bf1d66f-1167-4aad-a410-b6d773d0e2c5" _bl_10="">
    </div>
</div> *@