<div data-color-mode="dark" class="border rounded-0 p-2 mb-2 color-bg-default box card @(Node.Selected ? "selected" : "")" style="width: 320px;">
    <div class="box-header card-header">
        <h4 class="mb-0">@Node.Name</h4>
    </div>

    <div class="position-relative text-center">
    <button class="btn btn-primary">Add Table</button>
    <img style="margin:20%;width:50%;" src="https://icones.pro/wp-content/uploads/2021/05/icone-base-donnees-jaune.png    " />
    </div>

    @if (Node.HasPrimaryColumn)
    {
        <PortRenderer Port="Node.GetPort(PortAlignment.Right)"></PortRenderer>
    }
</div>