
@using Medulla.Editor.Client.AppRenderer;
@using Medulla.Editor.Client.AppRenderer.Options;
@using Medulla.Editor.Client.AppRenderer.RendererComponents;

@{
    @* List<AppNode> appNodeList = new List<AppNode>();
    appNodeList.Add(new AppNode() {
        Component = "Button"
    });    

    appNodeList.Add(new AppNode() {
        Component = "Box",
        Children = new List<AppNode>() {
            new AppNode() {
                Component = "Button"
            },
            new AppNode() {
                Component = "Button"
            }
        }
    });    

    appNodeList.Add(new AppNode() {
        Component = "Box",
        Children = new List<AppNode>() {
            new AppNode() {
                Component = "Button"
            },
            new AppNode() {
                Component = "Button"
            }
        }
    });     *@


}

<div style="display: grid; grid-template-columns: 70% auto;">
    <div>
        <Renderer AppNodeList=appNodeList />
    </div>
    <div class="Box" style="height: 100vh">

        <nav class="menu" aria-label="Person settings">
            @foreach (var appNode in appNodeList) 
            {
                <a class="menu-item" href="#url" aria-current="page">
                    @appNode.Component
                    <MenuItemButton>
                        <Minus />
                    </MenuItemButton>
                    <MenuItemButton>
                        <Copy />
                    </MenuItemButton>
                    <MenuItemButton>
                        <Settings />
                    </MenuItemButton>
                    <MenuItemButton>
                        <UpArrow />
                    </MenuItemButton>
                    <MenuItemButton>
                        <DownArrow />
                    </MenuItemButton>
                    
                    <span class="Label">
                        <div style="
                            position: relative;
                            top: 1px;">
                            <span style="font-weight: bold;font-size: 15px;padding: 4px;">
                                @appNode?.Children.Count
                            </span>
                        </div>
                    </span>
                </a>
            }
            
            
            <a class="menu-item" href="#url">
                New Component                 
            </a>
        </nav>

    </div>
</div>

@code {

    private List<AppNode> appNodeList = new List<AppNode>() {
        new AppNode() {
            Component = "Button",
            Options = new () {
                Options = new () {
                    new () {
                        Key = new Key() {
                            KeyName = "Content"
                        },
                        Value = new Value() {
                            ValueOfKey = "Create Something Awesome!"
                        }
                    }
                }
            }
        },    
    };


}


