
@using Medulla.Editor.Client.AppRenderer;
@using Medulla.Editor.Client.AppRenderer.Options;
@using Medulla.Editor.Client.AppRenderer.RendererComponents;

@{
    List<AppNode> appNodeList = new List<AppNode>();
    appNodeList.Add(new AppNode() {
        Component = "Button"
    });    

    appNodeList.Add(new AppNode() {
        Component = "Box",
        Children = new List<AppNode>() {
            new AppNode() {
                Component = "Button"
            },
            new AppNode() {
                Component = "Button"
            }
        }
    });    

    appNodeList.Add(new AppNode() {
        Component = "Box",
        Children = new List<AppNode>() {
            new AppNode() {
                Component = "Button"
            },
            new AppNode() {
                Component = "Button"
            }
        }
    });    


}

<div style="display: grid; grid-template-columns: 70% auto;">
    <div>
        <Renderer AppNodeList=appNodeList />
    </div>
    <div class="Box" style="height: 100vh">

        <nav class="menu" aria-label="Person settings">
            <a class="menu-item" href="#url" aria-current="page">Account</a>
            <a class="menu-item" href="#url">Profile</a>
            <a class="menu-item" href="#url">Emails</a>
            <a class="menu-item" href="#url">Notifications</a>
            <a class="menu-item" href="#url">
                New Component                 
                <MenuItemButton>
                    <Plus />
                </MenuItemButton>
            </a>
        </nav>

    </div>
</div>

@code {

    


}


