<span class="Label">
    <div style="position: relative;
        top: 2px;">
        @ChildContent
    </div>
</span>



@code {
    /// <summary>
    /// Child Content
    /// </summary>
    /// <value></value>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}