<span class="Label" style="cursor: pointer;" @onclick="UserClicked">
    <div style="position: relative;
        top: 2px;">
        @ChildContent
    </div>
</span>



@code {
    /// <summary>
    /// Child Content
    /// </summary>
    /// <value></value>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    /// <summary>
    /// Action when clicked
    /// </summary>
    /// <value></value>
    [Parameter]
    public Action? OnClick { get; set; }

    private void UserClicked()
    {
        if (OnClick != null)
            OnClick?.Invoke();
    }

}
