.c,
.c1,
.cd,
.cm {
    color: var(--color-prettylights-syntax-comment);
}

.nc,
.nf,
.nn,
.nx {
    color: var(--color-prettylights-syntax-entity);
}

.na,
.nt {
    color: var(--color-prettylights-syntax-entity-tag);
}

.cp,
.mf,
.o,
.p,
.pi,
.sx,
.w {
    color: var(--color-text-primary);
}

.dl,
.nl,
.s,
.s1,
.s2,
.se {
    color: var(--color-prettylights-syntax-string);
}

.k,
.kd,
.kn,
.kr,
.kt {
    color: var(--color-prettylights-syntax-keyword);
}

.n {
    color: var(--color-prettylights-syntax-variable);
}

.bp,
.kc,
.m,
.mi,
.nb,
.nd,
.no,
.py,
.sr {
    color: var(--color-prettylights-syntax-constant);
}

.nv {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}
