@using Medulla.Frontend.Client.Library.Utilities.Unique
@inherits BaseComponent

<h3
    @ondragenter="MouseOver"
    @ondragleave="MouseLeave"
    style=" @GetFontStyle()" class=" @GetMargin() @GetPadding()" @onclick="Clicked">@Text</h3>

@code {

    [Parameter]
    public string Text { get; set; } = "{Update this H1 Text}";

    protected override Properties GetProperties()
    {
        Properties properties = new();
        properties.PropertyList.Add(new() 
        { 
            Name = "Text", 
            InputDescription = "Text", 
            DefaultValue = new Dictionary<string, object>()
            {
                {
                    "Placeholder", "Text"
                },
                { "PropertyName", "Text" }
            }, InputType = "Medulla.Frontend.Client.Components.Editor.PropertiesWindow.PropertyComponents.TextInput" }
            );
        // properties.PropertyList.Add(new() { Name = "Text", InputDescription = "Text", DefaultValue = "", InputType = "input" });
        return properties;
    }

    protected override bool IsClickable()
    {
        return false;
    }
    
    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return true;
    }

}