@using Medulla.Frontend.Client.Library.Utilities.Unique
@inherits BaseComponent

<h5 @onclick="Clicked">@Text</h5>

@code {

    [Parameter]
    public string Text { get; set; } = "{Update this H1 Text}";

    protected override Properties GetProperties()
    {
        Properties properties = new();
        properties.PropertyList.Add(new() { Name = "Text", InputDescription = "Text", DefaultValue = "", InputType = "input" });
        return properties;
    }

    protected override bool IsClickable()
    {
        return false;
    }

}