@* Licensed to the Medulla Contributors under one or more agreements. *@
@* The Medulla Contributors licenses this file to you under the Apache 2.0 license. *@
@* See the LICENSE file in the project root for more information. *@

<p>
    <div class="Box">
        <p class="details-reset details-overlay" open>
            <div class="SelectMenu p-4" style="position: relative;">
                <div class="SelectMenu-modal">
                    <div class="SelectMenu-list">
                        @for (var i = 0; i < _list.Count+1; i++)
                        {
                            var currIndex = (int)i;
                            var index = i + 1;
                            <span>@Description @index</span><input @oninput="(ChangeEventArgs e) => ValueChanged(currIndex, e.Value?.ToString())" class="SelectMenu-item" role="menuitem" />
                        }
                    </div>
                </div>
            </div>
        </p>
    </div>
</p>

@code {

    [Parameter]
    public Action<List<string?>>? OnChange { get; set; }

    [Parameter]
    public string? Description { get; set; }

    private List<string?> _list = new(100){ };

    private void AddItem()
    {
        _list.Add("New Item");
    }

    private void ValueChanged(int index, string? value)
    {
        while (_list.Count <= index)
        {
            _list.Add("");
        }
        if (value != null)
        {
            _list[index] = value;
        }

        for (var i = 0; i < _list.Count; i++)
        {
            Console.WriteLine("value: " + _list[i]);
            if (_list[i] == "")
            {
                Console.WriteLine("Removing");
                _list.RemoveAt(i);
            }
        }
        StateHasChanged();

        if (OnChange != null)
        {
            OnChange(_list);
        }

    }

}
