@using Medulla.Editor.Client.Abstractions.ObjectComposition
<div>

    <PropertyList PropertiesMenu="this" PropertyMenuStructure="PropertyMenuStructure"/>

</div>


@code {

    public void ShouldRender()
    {
        Console.WriteLine("ShouldRender()");
        StateHasChanged();
        Console.WriteLine(string.Join(", ", PropertyMenuStructure));
    }

    ///
    ///
    ///
    [Parameter]
    public PropertyMenuStructure? PropertyMenuStructure { get; set; }




}
