@using Medulla.Editor.Client.Abstractions.ObjectComposition
<div>

    <PropertyList PropertiesMenu="this" PropertyMenuStructure="PropertyMenuStructure"/>

</div>


@code {

    public void ShouldRender()
    {
        Console.WriteLine("ShouldRender()");
        StateHasChanged();
        Console.WriteLine(string.Join(", ", PropertyMenuStructure));
    }

    ///
    ///
    ///
    [Parameter]
    public PropertyMenuStructure PropertyMenuStructure { get; set; } = new()
    {
        Nameable = new Nameable()
        {
            Title = "Test Properties Menu",
            Description = "Test description"
        },
        PropertyMenuStructureNodes = new List<PropertyMenuStructureNode>()
        {
            new PropertyMenuStructureNode()
            {
                Nameable = new()
                {
                    Title = "Test test",
                    Description = "Test Description"
                },
                PropertyMenuStructure = new()
                {
                    Nameable = new()
                    {
                        Title = "Test Children",
                        Description = "Test"
                    },
                    PropertyMenuStructureNodes = new()
                    {
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "First Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Last Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Email"
                            }
                        }
                    }
                }
            },
            new PropertyMenuStructureNode()
            {
                Nameable = new()
                {
                    Title = "Test test",
                    Description = "Test Description"
                },
                PropertyMenuStructure = new()
                {
                    Nameable = new()
                    {
                        Title = "Test Children",
                        Description = "Test"
                    },
                    PropertyMenuStructureNodes = new()
                    {
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "First Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Last Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Email"
                            }
                        }
                    }
                }
            },
            new PropertyMenuStructureNode()
            {
                Nameable = new()
                {
                    Title = "Test test",
                    Description = "Test Description"
                },
                PropertyMenuStructure = new()
                {
                    Nameable = new()
                    {
                        Title = "Test Children",
                        Description = "Test"
                    },
                    PropertyMenuStructureNodes = new()
                    {
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "First Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Last Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Email"
                            }
                        }
                    }
                }
            },
            new PropertyMenuStructureNode()
            {
                Nameable = new()
                {
                    Title = "Test test",
                    Description = "Test Description"
                },
                PropertyMenuStructure = new()
                {
                    Nameable = new()
                    {
                        Title = "Test Children",
                        Description = "Test"
                    },
                    PropertyMenuStructureNodes = new()
                    {
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "First Name"
                            },
                            PropertyMenuStructure = new()
                            {
                                Nameable = new()
                                {
                                    Title = "Test"
                                },
                                PropertyMenuStructureNodes = new()
                                {
                                    new PropertyMenuStructureNode()
                                    {
                                        Nameable = new()
                                        {
                                            Title = "Test test",
                                            Description = "Test Description"
                                        },
                                        PropertyMenuStructure = new()
                                        {
                                            Nameable = new()
                                            {
                                                Title = "Test Children",
                                                Description = "Test"
                                            },
                                            PropertyMenuStructureNodes = new()
                                            {
                                                new PropertyMenuStructureNode()
                                                {
                                                    Nameable = new Nameable()
                                                    {
                                                        Title = "First Name",
                                                        Description = "Test"
                                                    }
                                                },
                                                new PropertyMenuStructureNode()
                                                {
                                                    Nameable = new Nameable()
                                                    {
                                                        Title = "Last Name",
                                                        Description = "Test"
                                                    }
                                                },
                                                new PropertyMenuStructureNode()
                                                {
                                                    Nameable = new Nameable()
                                                    {
                                                        Title = "Email",
                                                        Description = "Test"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Last Name"
                            }
                        },
                        new PropertyMenuStructureNode()
                        {
                            Nameable = new Nameable()
                            {
                                Title = "Email"
                            }
                        }
                    }
                }
            }
        }
    };





}
