
<div class="Box width-full">
    <p class="pl-1">@PropertyMenuStructure?.Nameable.Title</p>

    @if (PropertyMenuStructure is { PropertyMenuStructureNodes: {} })
    {
        @foreach (var item in PropertyMenuStructure.PropertyMenuStructureNodes)
        {
            <PropertyListItem PropertiesMenu="PropertiesMenu" PropertyMenuStructureNode="item" />
        }
    }




</div>

@code {

    [Parameter]
    public PropertyMenuStructure? PropertyMenuStructure { get; set; }

    [Parameter]
    public PropertiesMenu? PropertiesMenu { get; set; }

}
