<ul>
        <li><ul style="
    list-style-type: disclosure-closed;
    margin-left: 0em;
    background: #ffffff54;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: large;
    text-transform: capitalize;
    border: thin solid white;
    border-bottom: thin solid darkgray;
">
        <li>Details of Object</li>
    </ul>
</li>
    <li><ul style="
    list-style-type: disclosure-closed;
    margin-left: 0em;
    background: #ffffff54;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: large;
    text-transform: capitalize;
    border: thin solid white;
    border-top: thin solid darkgray;
">
        <li>Details of Object</li>
    </ul>
</li></ul>

@code {

}
