@mixin medulla-colors-dark_dimmed {
    & {
        --color-text-link: #b083f0;
        --color-icon-info: #b083f0;
        --color-border-info: rgba(152,110,226,0.4);
        --color-bg-canvas: #22262e;
        --color-bg-canvas-mobile: #1c2128;
        --color-bg-canvas-inverse: #cdd9e5;
        --color-bg-canvas-inset: hsla(220,15%,14%,1);
        --color-bg-primary: #22262e;
        --color-bg-secondary: #22262e;
        --color-bg-tertiary: #2d323b;
        --color-bg-overlay: rgba(50,56,65,1);
        --color-bg-backdrop: rgba(28,33,40,0.8);
        --color-bg-info: rgba(152,110,226,0.1);
        --color-bg-info-inverse: #986ee2;
        --color-state-hover-primary-bg: #8256d0;
        --color-state-selected-primary-bg: #8256d0;
        --color-state-selected-primary-border: #986ee2;
        --color-state-focus-border: #986ee2;
        --color-state-focus-shadow: 0 0 0 3px #472c82;
        --color-alert-info-text: #dcbdfb;
        --color-alert-info-icon: #dcbdfb;
        --color-alert-info-bg: rgba(152,110,226,0.1);
        --color-alert-info-border: rgba(152,110,226,0.4);
        --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(130,86,208,0.3);
        --color-btn-primary-bg: #8256d0;
        --color-btn-primary-border: #986ee2;
        --color-btn-primary-hover-bg: #986ee2;
        --color-btn-primary-hover-border: #b083f0;
        --color-btn-primary-selected-bg: #8256d0;
        --color-btn-primary-disabled-bg: rgba(130,86,208,0.6);
        --color-btn-primary-focus-bg: #8256d0;
        --color-btn-primary-focus-border: #b083f0;
        --color-btn-primary-focus-shadow: 0 0 0 3px rgba(111,87,255,0.4);
        --color-btn-outline-text: #b083f0;
        --color-btn-outline-hover-text: #b083f0;
        --color-btn-outline-hover-border: #b083f0;
        --color-btn-outline-selected-bg: #5936a2;
        --color-btn-outline-disabled-text: rgba(176,131,240,0.5);
        --color-btn-outline-disabled-counter-bg: rgba(130,86,208,0.05);
        --color-btn-outline-focus-border: #b083f0;
        --color-btn-outline-focus-shadow: 0 0 0 3px rgba(107,68,188,0.4);
        --color-btn-outline-counter-bg: rgba(130,86,208,0.1);
        --color-label-info-text: #986ee2;
        --color-label-info-border: rgba(152,110,226,0.4);
        --color-toast-icon-bg: #8256d0;
        --color-toast-icon-border: #986ee2;
        --color-timeline-target-badge-border: #8256d0;
        --color-timeline-target-badge-shadow: #5936a2;
        --color-select-menu-tap-focus-bg: #472c82;
        --color-box-blue-border: #5936a2;
        --color-box-row-blue-bg: rgba(220,189,251,0.1);
        --color-box-border-info: rgba(152,110,226,0.4);
        --color-box-bg-info: rgba(152,110,226,0.1);
        --color-branch-name-bg: rgba(176,131,240,0.1);
        --color-branch-name-link-text: #b083f0;
        --color-branch-name-link-icon: #b083f0;
        --color-branch-name-link-bg: rgba(176,131,240,0.1);
        --color-menu-border-active: #8256d0;
        --color-sidenav-border-active: #8256d0;
        --color-upload-enabled-border-focused: hsla(262,56%,66%,1);
        --color-underlinenav-border-active: #8256d0;
        --color-mktg-info: rgba(139,96,216,1);
        --color-mktg-btn-primary-bg-top: hsla(249,100%,72%,1);
        --color-mktg-btn-primary-bg-bottom: #6f57ff;
        --color-mktg-btn-primary-bg-overlay-top: hsla(248,65%,63%,1);
        --color-mktg-btn-primary-bg-overlay-bottom: #614eda;
        --color-mktg-btn-enterprise-bg-top: hsla(137,56%,46%,1);
        --color-mktg-btn-enterprise-bg-bottom: #2ea44f;
        --color-mktg-btn-enterprise-bg-overlay-top: hsla(134,60%,38%,1);
        --color-mktg-btn-enterprise-bg-overlay-bottom: #22863a;
    }
}
