@mixin medulla-colors-light {
    & {
        --color-text-link: #6f42c1;
        --color-icon-info: #6f42c1;
        --color-border-info: #6f42c1;
        --color-bg-info: #f5f0ff;
        --color-bg-info-inverse: #6f42c1;
        --color-state-hover-primary-bg: #6f42c1;
        --color-state-selected-primary-bg: #6f42c1;
        --color-state-selected-primary-border: #6f42c1;
        --color-state-focus-border: #6f42c1;
        --color-state-focus-shadow: 0 0 0 3px rgba(111,66,193,0.3);
        --color-alert-info-icon: rgba(76,40,137,0.6);
        --color-alert-info-bg: #e6dcfd;
        --color-alert-info-border: rgba(76,40,137,0.2);
        --color-btn-focus-shadow: 0 0 0 3px rgba(111,66,193,0.3);
        --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(111,66,193,0.3);
        --color-btn-primary-selected-shadow: inset 0 1px 0 rgba(41,19,78,0.2);
        --color-btn-primary-bg: #8a63d2;
        --color-btn-primary-hover-bg: #6f42c1;
        --color-btn-primary-selected-bg: hsla(261,51%,49%,1);
        --color-btn-primary-disabled-bg: rgba(138,99,210,0.6);
        --color-btn-primary-focus-bg: #8a63d2;
        --color-btn-primary-focus-shadow: 0 0 0 3px rgba(138,99,210,0.4);
        --color-btn-outline-text: #6f42c1;
        --color-btn-outline-hover-bg: #6f42c1;
        --color-btn-outline-selected-bg: hsla(261,51%,48%,1);
        --color-btn-outline-selected-shadow: inset 0 1px 0 rgba(41,19,78,0.2);
        --color-btn-outline-disabled-text: rgba(111,66,193,0.5);
        --color-btn-outline-disabled-counter-bg: rgba(111,66,193,0.05);
        --color-btn-outline-focus-shadow: 0 0 0 3px rgba(90,50,163,0.4);
        --color-btn-outline-counter-bg: rgba(111,66,193,0.1);
        --color-label-info-text: #6f42c1;
        --color-label-info-border: #6f42c1;
        --color-toast-icon-bg: #6f42c1;
        --color-timeline-target-badge-border: #8a63d2;
        --color-timeline-target-badge-shadow: #d1bcf9;
        --color-select-menu-tap-focus-bg: #e6dcfd;
        --color-box-blue-border: #d1bcf9;
        --color-box-row-blue-bg: #f5f0ff;
        --color-box-border-info: rgba(111,66,193,0.2);
        --color-box-bg-info: #f5f0ff;
        --color-branch-name-icon: hsla(261,6%,76%,1);
        --color-branch-name-bg: hsla(258,89%,96%,1);
        --color-branch-name-link-text: #6f42c1;
        --color-branch-name-link-icon: hsla(261,6%,76%,1);
        --color-branch-name-link-bg: hsla(258,89%,96%,1);
        --color-menu-border-active: #8a63d2;
        --color-sidenav-border-active: #8a63d2;
        --color-upload-enabled-border-focused: hsla(261,55%,69%,1);
        --color-underlinenav-border-active: #8a63d2;
        --color-mktg-info: rgba(122,80,200,1);
        --color-mktg-btn-primary-bg-top: hsla(249,100%,72%,1);
        --color-mktg-btn-primary-bg-bottom: #6f57ff;
        --color-mktg-btn-primary-bg-overlay-top: hsla(248,65%,63%,1);
        --color-mktg-btn-primary-bg-overlay-bottom: #614eda;
        --color-mktg-btn-enterprise-bg-top: hsla(137,56%,46%,1);
        --color-mktg-btn-enterprise-bg-bottom: #2ea44f;
        --color-mktg-btn-enterprise-bg-overlay-top: hsla(134,60%,38%,1);
        --color-mktg-btn-enterprise-bg-overlay-bottom: #22863a;
    }
}
