@using Medulla.Frontend.Client.Code
@using Medulla.Frontend.Client.Library.Utilities.Unique
<button 
    @onclick="ButtonWasClicked"
    class="btn" type="button">
    @Content
    @ChildContent
</button>

@code {

    /*
     * These parameters are system required
     */
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public EditorViewNode EditorViewNode { get; set; } = default!;

    [Parameter]
    public Editor Editor { get; set; } = default!;
    /*
     * These parameters are system required
     */
    
    
    /*
     * These parameters need to be modifiable in Properties window
     */
    [Parameter]
    public string Content { get; set; } = "{No Button Content}";

    [Parameter]
    public UniqueId UniqueId { get; set; }
    
    class ButtonClick: EnvironmentAbstractionHandler
    {
        protected override void HandleInEditor(Editor editor, UniqueId uniqueId)
        {
            //Opens Properties Window
            Console.WriteLine("Button was clicked");
            string currentValue = editor.GetComponentPropertyValue(uniqueId, "Content");
            Properties properties = new ();
            properties.PropertyList.Add(new() {Name = "Content", InputDescription = "Content", DefaultValue = currentValue, InputType = "input"});
            editor.SetProperties(properties, uniqueId);
        }

        protected override void HandleInProduction()
        {
            //Production Code
            throw new NotImplementedException();
        }

        protected override void HandleInDevelopment()
        {
            //Development Code
            Console.WriteLine("Button was clicked");
        }
    }

    public void ButtonWasClicked()
    {
        var click = new ButtonClick();
        click.Handle(Editor, UniqueId);
    }

}