<button class="btn" type="button">
    @Content
    @ChildContent
</button>

@code {
    
    [Parameter]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    public string Content { get; set; } = "{No Button Content}";

}