@using Medulla.Frontend.Client.Components.Editor.PropertiesWindow

<h3>Editor</h3>
<div class="d-flex flex-row">
    <div class="width-full">
        
    </div>
    <div style="width: 25vw">
        <PropertiesWindow PropertyList="Properties"/>
        <PaletteWindow ComponentCategories="PaletteComponentCategories" />
    </div>
</div>


@code {

    Properties Properties = new Properties() {PropertyList = new List<Property>
    {
        new Property() { Name = "Color", InputDescription = "test", DefaultValue = "test", InputType = "test"},
        new Property() { Name = "Background", InputDescription = "test", DefaultValue = "test", InputType = "test"},
        new Property() { Name = "Test", InputDescription = "test", DefaultValue = "test", InputType = "test"},
    }};

    static string IconStr1 = @"<svg xmlns=""http://www.w3.org/2000/svg"" class=""h-6 w-6"" fill=""none"" viewBox=""0 0 24 24"" stroke=""currentColor"" style=""width: 48px;"">
        <path stroke-linecap=""round"" stroke-linejoin=""round"" stroke-width=""2"" d=""M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z""></path>
            </svg>";
    

    PaletteComponentCategories PaletteComponentCategories = new PaletteComponentCategories()
    {
        ComponentCategories = new List<PaletteComponentCategory>
        {
            new PaletteComponentCategory()
            {
                Name = "Dividers",
                PaletteWindowComponents = new PaletteWindowComponents()
                {
                    ComponentList = new()
                    {
                        new PaletteComponent(){ Name = "1 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "2 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "3 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "4 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "5 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "6 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "7 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "8 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "9 Row Divider", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "10 Row Divider", SvgString = IconStr1},
                    }
                }
            },
            new PaletteComponentCategory() {
                Name = "Buttons",
                PaletteWindowComponents = new PaletteWindowComponents()
                {
                    ComponentList = new()
                    {
                        new PaletteComponent(){ Name = "Large Button", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "Medium Button", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "Small Button", SvgString = IconStr1},
                    }
                }
            },
            new PaletteComponentCategory() {
                Name = "Text",
                PaletteWindowComponents = new PaletteWindowComponents()
                {
                    ComponentList = new()
                    {
                        new PaletteComponent(){ Name = "Paragragh", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "H1", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "H2", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "H3", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "H4", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "H5", SvgString = IconStr1},
                        new PaletteComponent(){ Name = "H6", SvgString = IconStr1},
                    }
                }
            }
        }
    };


}