@using System.ComponentModel.DataAnnotations
@using Medulla.Editor.Client.Components.Window
@using Medulla.Editor.Client.Components.RegisteredComponents.Buttons

<Window WindowTitle="Active Component Window" IsMaxHeight="true">
    <div class="mt-4">
        @if (Editor?.CurrentComponent != null)
        {
        <div>
            <p class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider m-0 py-0 m-0"><span class="text-bold">ID:</span> @Editor?.CurrentComponent?.UniqueId?.Id</p>
        </div>
        <div>
            <p class="px-6 text-left text-xs font-medium text-gray-500 uppercase tracking-wider m-0 py-0 m-0">
                <span class="text-bold">Type:</span> @GetType()
            </p>
        </div>
        <div class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <button class="btn" @onclick="Remove" Content="">
                <svg style="width: 25px;position: relative;top: 3px;" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </button>
            <button class="btn" Content="">
                <svg style="width: 25px;position: relative;top: 3px;" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                </svg>
            </button>
            <button class="btn" Content="">
                <svg style="width: 25px;position: relative;top: 3px;" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12" />
                </svg>
            </button>
            <button class="btn" Content="">
                <svg style="width: 25px;position: relative;top: 3px;" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 13l-5 5m0 0l-5-5m5 5V6" />
                </svg>
            </button>
            <button class="btn" Content="">
                <svg style="width: 25px;position: relative;top: 3px;" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
            </button>
        </div>


        }
        else
        {
            <p class="ml-3">No active component</p>
        }

    </div>
</Window>

@code {

    [Parameter]
    public EditorPage? Editor { get; set; }


    private new string? GetType()
    {
        string replace = "Medulla.Editor.Client.Components.RegisteredComponents.";
        return Editor?.CurrentComponent?.Type.Replace(replace, "");
    }

    private void Remove() {
        Console.WriteLine("Remove");
        Editor?.RemoveComponentWithUniqueId(Editor.EditorViewNode, Editor.CurrentComponent?.UniqueId);
        Editor?.StateChanged();
        if (Editor != null)
        {
            Editor.PlaceInUniqueId = null;
            Editor.CurrentComponent = null;
        }
    }



}
