.port {
    background: red!important;
    width: 10px!important;
    height: 10px!important;
}

.port.right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.port.left {
    position: absolute;
    left: 0;
    bottom: 0;
}
