@using Medulla.AppRenderer.Blazor.Components

<div class="sidebar" @onclick="ConsoleLog">
    <NavMenu/>
</div>

<main>
    <ComponentRenderer ComponentStructure="ComponentStructure" />
</main>

@code {

    void ConsoleLog()
    {
        ComponentStructure.SerializeToXml();
    }
}
