@page "/"
@using DatabaseDesigner.Wasm.Components.Sidebar;
<div class="wrapper">
    <CascadingValue Value="Diagram">
        <div class="diagram-container">
            <DiagramCanvas></DiagramCanvas>
        </div>
        <Sidebar />
    </CascadingValue>
</div>
