@inherits BaseComponent
@using Medulla.Frontend.Client.Library.Utilities.Unique
<div class="flash-messages @GetMargin() @GetPadding()" @onclick="Clicked">
  <div class="flash  @GetErrorType()">
    @Content
  </div>
</div>

@code {
    
    [Parameter]
    public string Content { get; set; } = "{No content}";

    [Parameter]
    public string ErrorType { get; set; } = "";

    private string GetErrorType()
    {
        if (ErrorType == "error")
            return "flash-error";
        else if (ErrorType == "success")
            return "flash-success";
        else if (ErrorType == "warn")
            return "flash-warn";

        return "";
    }
    
    protected override Properties GetProperties()
    {
        Properties properties = new ();
        properties.PropertyList.Add(new Property() { Name = "ErrorType", DefaultValue = "ErrorType", InputDescription = "Alert Type", InputType = "input"});
        return properties;
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }
}