@using System.ComponentModel.DataAnnotations
<Window WindowTitle="@WindowTitle">
    <table class="width-full">
        <thead class="bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Property
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    Value
                </th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 width-fit">
            @for (int i = 0; i < PropertyList.PropertyList.Count; i++)
            {
                <tr class="Box @(i + 1 == PropertyList.PropertyList.Count ? "border-bottom-0" : "") ">

                    <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                            <div class="ml-4">
                                <div class="text-sm font-medium text-gray-900">
                                    @PropertyList.PropertyList[i].InputDescription
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                        @{
                            int inputId = i;
                        }
                        <input @oninput="(value) => UpdatePropertyValue(PropertyList.PropertyList[inputId], value)"
                        class="form-control input-lg" type="text" placeholder="Small input"
                        aria-label="Repository description" value="@PropertyList.PropertyList[inputId].DefaultValue" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</Window>

@code {

    [Parameter]
    [Required]
    public Properties PropertyList { get; set; } = new();

    [Parameter]
    [Required]
    public string WindowTitle { get; set; } = "Properties Window";
    
    [Parameter]
    public Editor Editor { get; set; }

    public void UpdatePropertyValue(Property propertyName, ChangeEventArgs e) {
        Editor.UpdateCurrentComponentProperty(propertyName.Name, e.Value.ToString());
    }


}