<h3>PropertiesWindow</h3>
<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-column properties-window">
    <div class="header">
        <p class="title">Test</p>
    </div>
    <ul class="main">
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
        <li>Test</li>
    </ul>
</div>

@code {
    
}