<Window OpenAction="OnOpen" WindowTitle="DatabaseDesigner">

    <div class="wrapper" style="width: 100%;height: 100vh;">
        <CascadingValue Value="Diagram">
            <div class="diagram-container" style="width:100%;height: 100%;">
                <Blazor.Diagrams.Components.DiagramCanvas />
            </div>
        </CascadingValue>
    </div>
</Window>
