<div class="Box">
    @ChildContent
</div>


@code {

    /// <summary>
    /// Child content
    /// </summary>
    /// <value></value>
    [Parameter]
    public RenderFragment? ChildContent { get; set; }



}

