
<button class="btn" type="button">@GetContent()</button>

@code {
    /// <summary>
    /// Options
    /// </summary>
    /// <value></value>
    [Parameter]
    public AppNodeOptions? Options { get; set; }

    private string? GetContent()
    {
        if (Options == null) {
            return "No Content";
        }
        var contentItem = Options?.Options?.Find((i) => i?.Key?.KeyName == "Content");
        if (contentItem == null) {
            return "Key Not Found";
        }
        return contentItem?.Value?.ValueOfKey.ToString();
    }
}


