@* Licensed to the Medulla Contributors under one or more agreements. *@
@* The Medulla Contributors licenses this file to you under the Apache 2.0 license. *@
@* See the LICENSE file in the project root for more information. *@

@inject NavigationManager Navigation

<header class="Header position-fixed width-full px-4">
    <div class="Header-item mt-n1 mb-n1">
        <a href="/" class="Header-link f4 d-flex flex-items-center">
            <img src="shared/img/logo.svg" height="32" width="32" class="octicon v-align-middle" />
            <span class="pl-2">Medulla</span>
        </a>
    </div>
    <div class="Header-item Header-item--full"></div>
    <AuthorizeView>
        <Authorized>
            <div class="Header-item position-relative mr-0">
                <details class="details-overlay details-reset">
                    <summary class="Header-link" role="button">
                        <img src="img/default-profile.svg" size="20" height="20" width="20" class="avatar avatar-small" style="background-color: #b9b9b9;" />
                        <span class="dropdown-caret"></span>
                    </summary>
                    <details-menu class="dropdown-menu dropdown-menu-sw">
                        <div class="pb-0 css-truncate">
                            <p role="menuitem" class="px-3 pt-2 pb-2 mb-n2 mt-n1 d-block">
                                Signed in as
                                <strong class="css-truncate-target">@context.User.Identity?.Name</strong>
                            </p>
                        </div>
                        <div role="none" class="dropdown-divider"></div>
                        <button class="dropdown-item dropdown-signout" role="menuitem" @onclick="BeginSignOut">Sign Out</button>
                    </details-menu>
                </details>
            </div>
        </Authorized>
    </AuthorizeView>
</header>

@code {
    /// <summary>
    /// Begins the sign out process.
    /// </summary>
    /// <returns>abstract task representing logging the user out.</returns>
    private void BeginSignOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
