@* Licensed to the Medulla Contributors under one or more agreements. *@
@* The Medulla Contributors licenses this file to you under the Apache 2.0 license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="position-fixed color-bg-default border-right color-border-muted d-flex flex-column flex-items-center py-4" style="top: 56px; height: calc(100vh - 56px); width: 80px;">
    <a href="/database-designer" class="pb-4">
        <img src="https://th.bing.com/th/id/OIP.32xiY8nsdkuBun--GGopPgHaGm?pid=ImgDet&rs=1" height="48" width="48" class="avatar avatar-small" style="background-color: #b9b9b9;" />
    </a>
    <a href="/editor" class="pb-4">
        <img src="https://th.bing.com/th/id/OIP.KlNR3wk4jFDS4d-fPq6RsAHaHa?pid=ImgDet&rs=1" height="48" width="48" class="avatar avatar-small" style="background-color: #b9b9b9;" />
    </a>
    <a href="/workflow-designer" class="pb-4">
        <img src="https://th.bing.com/th/id/OIP.KlNR3wk4jFDS4d-fPq6RsAHaHa?pid=ImgDet&rs=1" height="48" width="48" class="avatar avatar-small" style="background-color: #b9b9b9;" />
    </a>

    <a href="/object-browser">
        <img src="https://th.bing.com/th/id/OIP.KlNR3wk4jFDS4d-fPq6RsAHaHa?pid=ImgDet&rs=1" height="48" width="48" class="avatar avatar-small" style="background-color: #b9b9b9;" />
    </a>
</div>
