@* Licensed to the Medulla Contributors under one or more agreements. *@
@* The Medulla Contributors licenses this file to you under the Apache 2.0 license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="f6 p-responsive py-6 mt-6 container-lg">
    <ul class="list-style-none d-flex flex-justify-center">
        <li class="mr-3">
            <a href="https://github.com/recro/medulla/blob/main/LICENSE.txt">Terms</a>
        </li>
        <li class="mr-3">
            <a href="https://github.com/recro/medulla/blob/main/SECURITY.md">Security</a>
        </li>
        <li class="mr-3">
            <a href="https://recro.github.io/docs/">Help</a>
        </li>
        <li>
            <a class="Link--secondary" href="https://github.com/recro/medulla">GitHub</a>
        </li>
    </ul>
</div>
