@* Licensed to the Medulla Contributors under one or more agreements. *@
@* The Medulla Contributors licenses this file to you under the Apache 2.0 license. *@
@* See the LICENSE file in the project root for more information. *@

@page "/app/{appId}"

@attribute [Authorize]

<p>@AppId</p>

@code {
    /// <summary>
    /// The app id.
    /// </summary>
    [Parameter]
    public string? AppId { get; set; }
}
