@import "../../../../Medulla.CSS/scss/colors/dark";

body {
  
  .properties-window {
    padding: 2em;
    background: lightgray;
    display: flex;
    flex-direction: column;
    
    .header {
      @include medulla-colors-dark;
      
      background: var(--color-bg-primary);
      display: block;
      border: solid thin black;
      
      .title {
        font-weight: bold;
        color: black;
        font-size: .9em;
      }
      
    }
    
    .main {
      & {
        li {
          border: thin solid black;
          background: white;
          width: 100%;
          display: grid;
          grid-template-columns: auto auto;
          
          label {
            
          }
          
          input {
            padding-left: 1em;
          }
        }
      }
    }
  }
  
}


