<div class="wrapper">
    <div class="diagram-container">
        <CascadingValue Value="NodeDiagram">
                <DiagramCanvas></DiagramCanvas>
            </CascadingValue>
    </div>
</div>

@code {

}
