@* Licensed to the Medulla Contributors under one or more agreements. *@
@* The Medulla Contributors licenses this file to you under the Apache 2.0 license. *@
@* See the LICENSE file in the project root for more information. *@

<div class="position-fixed color-bg-default border-right color-border-muted d-flex flex-column flex-items-center py-4" style="top: 56px; height: calc(100vh - 56px); width: 80px;">
    <a href="app/app1" class="pb-4">
        <img src="/img/default-app.svg" height="48" width="48" class="avatar avatar-small" style="background-color: #b9b9b9;" />
    </a>
    <a href="app/app2">
        <img src="/img/default-app.svg" height="48" width="48" class="avatar avatar-small" style="background-color: #b9b9b9;" />
    </a>
</div>
