<div class="wrapper">
    <CascadingValue Value="Diagram">
        <div class="diagram-container">
            <DiagramCanvas />
        </div>
        <Sidebar></Sidebar>
    </CascadingValue>
</div>


@code {

}
