@using Blazor.Diagrams.Components

<nav class="Box navbar navbar-expand-lg navbar-dark color-bg-default">
    <span class="navbar-brand color-fg-accent" href="#">Workflow Designer</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link color-fg-accent" href="#" @onclick="NewWorkflowInstance">New Workflow Instance</a>
            </li>
        </ul>
    </div>
</nav>

<div class="wrapper">
    <CascadingValue Value="Diagram">
        <div class="diagram-container">
            <DiagramCanvas />
        </div>
        <Sidebar></Sidebar>
    </CascadingValue>
</div>



