@using Blazor.Diagrams.Components

@*<nav class="Box navbar navbar-expand-lg navbar-dark color-bg-default">
    <span class="navbar-brand color-fg-accent" href="#">Workflow Designer</span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link color-fg-accent" href="#" @onclick="NewWorkflowInstance">New Workflow Instance</a>
            </li>
        </ul>
    </div>
</nav>*@

<div class="wrapper">
    <CascadingValue Value="Diagram">
        <div class="diagram-container">
            <DiagramCanvas />
        </div>
        <Sidebar></Sidebar>
    </CascadingValue>
</div>

@if (showContextMenu)
{
    <div class="context-menu" style="
    background: #2a2929;
    width: 16em;
    height: 3em;
    position: absolute;
    top: 100px;
    left: 100px;
    /* padding: 1em; */
"><p style="margin:1em;margin-bottom: 0.5em;">Context Menu</p>

        <div style="
    background: #3a3838;
    padding: 1em;
" class="context-menu-content">

            <input placeholder="Search" type="text" style="
    height: 20px;
    margin-bottom: 13px;
">
            <ul style="
    font-size: 10px;
    list-style-type: disclosure-closed;
    margin-left: 1.5em;
">
                <li>Split</li>
            </ul>
            <ul style="
    font-size: 10px;
    list-style-type: disclosure-closed;
    margin-left: 1.5em;
">
                <li>Split</li>
            </ul><ul style="
    font-size: 10px;
    list-style-type: disclosure-closed;
    margin-left: 1.5em;
">
                <li>Split</li>
            </ul><ul style="
    font-size: 10px;
    list-style-type: disclosure-closed;
    margin-left: 1.5em;
">
                <li>Split</li>
            </ul><ul style="
    font-size: 10px;
    list-style-type: disclosure-closed;
    margin-left: 1.5em;
">
                <li>Split</li>
            </ul></div>
    </div>
}





