name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  deploy-docs:
    name: Deploy Docs
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "7.0.0-rc.2.22476.2"

      - name: Create release directory
        run: mkdir release

      - name: Build docs
        run: dotnet publish src/Documentation/Client/Medulla.Documentation.Client.csproj -c Release -o release --nologo
      
      - name: Stage docs
        run: |
          cp release/wwwroot/docs/index.html release/wwwroot/404.html
          touch release/wwwroot/.nojekyll
      
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          token: ${{ secrets.DOCS_TOKEN }}
          branch: main
          folder: release/wwwroot
          repository-name: recro/recro.github.io
