@using Medulla.Editor.Client.Library.Utilities.Unique
@inherits BaseComponent

<ComponentContainer>

<SelectUnselect Editor="Editor" UniqueId="this.UniqueId" Component="this" />

<div class="tabnav">
  <div class="float-right">
    <a class="tabnav-extra" href="#url">Tabnav extra link</a>
    <a class="tabnav-extra" href="#url">Tabnav extra link</a>
  </div>
  <nav class="tabnav-tabs" aria-label="Foo bar">
    <a class="tabnav-tab" href="#url" aria-current="page">Foo Tab</a>
    <a class="tabnav-tab" href="#url">Bar Tab</a>
  </nav>
</div>

</ComponentContainer>

@code {



    protected override Properties GetProperties()
    {
        Properties properties = new();
        return properties;
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return true;
    }

    protected override bool IsHoverComponentContainer()
    {
        return false;
    }

    protected override void AfterAddComponent(EditorPage editor, UniqueId uniqueId)
    {

    }

}


<style>

</style>

