@using Medulla.Editor.Client.Library.Utilities.Unique
@inherits BaseComponent

<ComponentContainer>

<SelectUnselect Editor="Editor" UniqueId="this.UniqueId" Component="this" />

<nav class="UnderlineNav">
  <div class="UnderlineNav-body" role="tablist">
    <button class="UnderlineNav-item" role="tab" type="button" aria-selected="true">Item 1</button>
    <button class="UnderlineNav-item" role="tab" type="button">Item 2</button>
    <button class="UnderlineNav-item" role="tab" type="button">Item 3</button>
    <button class="UnderlineNav-item" role="tab" type="button">Item 4</button>
  </div>
</nav>

</ComponentContainer>

@code {



    protected override Properties GetProperties()
    {
        Properties properties = new();
        return properties;
    }

    protected override bool IsClickable()
    {
        return false;
    }

    protected override bool DoesImplementPadding()
    {
        return true;
    }

    protected override bool DoesImplementMargin()
    {
        return true;
    }

    protected override bool DoesImplementFonts()
    {
        return true;
    }

    protected override bool IsHoverComponentContainer()
    {
        return false;
    }

    protected override void AfterAddComponent(EditorPage editor, UniqueId uniqueId)
    {

    }

}


<style>

</style>

